@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    @variant light {
      --color-background: #fff9e3;
      --color-foreground: #081126;
      --color-card: #fff8e7;
      --color-muted: #f6eecf;
      --color-muted-foreground: #fefefe;
      --color-primary: #081126;
      --color-accent: #ea7a53;
      --color-border: #fefefe;
      --color-success: #16a34a;
      --color-destructive: #dc2626;

      --font-sans: sans-regular;
      --font-sans-light: sans-light;
      --font-sans-medium: sans-medium;
      --font-sans-semibold: sans-semibold;
      --font-sans-bold: sans-bold;
      --font-sans-extrabold: sans-extrabold;
    }

    @variant dark {
      --color-background: #fff9e3;
      --color-foreground: #081126;
      --color-card: #fff8e7;
      --color-muted: #f6eecf;
      --color-muted-foreground: #fefefe;
      --color-primary: #081126;
      --color-accent: #ea7a53;
      --color-border: #fefefe;
      --color-success: #16a34a;
      --color-destructive: #dc2626;

      --font-sans: sans-regular;
      --font-sans-light: sans-light;
      --font-sans-medium: sans-medium;
      --font-sans-semibold: sans-semibold;
      --font-sans-bold: sans-bold;
      --font-sans-extrabold: sans-extrabold;
    }
  }
}
