@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    @variant light {
      --color-background: #fff8f0;
      --color-foreground: #4b2e2b;
      --color-card: #fff8f0;

      --color-muted: #ead7c7;
      --color-muted-foreground: #8c5a3c;

      --color-primary: #c08552;
      --color-accent: #8c5a3c;

      --color-border: #e0c3a3;

      --color-success: #16a34a;
      --color-destructive: #dc2626;

      --font-sans: sans-regular;
      --font-sans-light: sans-light;
      --font-sans-medium: sans-medium;
      --font-sans-semibold: sans-semibold;
      --font-sans-bold: sans-bold;
      --font-sans-extrabold: sans-extrabold;
    }

    @variant dark {
      --color-background: #2b1b18;
      --color-foreground: #fff8f0;
      --color-card: #3a2521;

      --color-muted: #4b2e2b;
      --color-muted-foreground: #c08552;

      --color-primary: #c08552;
      --color-accent: #8c5a3c;

      --color-border: #5a3a33;

      --color-success: #16a34a;
      --color-destructive: #dc2626;

      --font-sans: sans-regular;
      --font-sans-light: sans-light;
      --font-sans-medium: sans-medium;
      --font-sans-semibold: sans-semibold;
      --font-sans-bold: sans-bold;
      --font-sans-extrabold: sans-extrabold;
    }
  }
}
